html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, em center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal; }

a {
  text-decoration: none;
  color: inherit; }

input:focus {
  outline: none; }

select:focus {
  outline: none; }

textarea {
  border: 0px;
  padding: 0px; }
  textarea:focus {
    outline: none; }

header, section, footer, .block {
  width: 100%;
  float: left; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.res_line {
  text-align: justify; }

.line_block {
  display: inline-block;
  float: none; }

.after {
  display: inline-block;
  width: 0px;
  height: 0px;
  margin-left: 100%; }

.wraper {
  width: 100%; }

.content {
  width: 84.37%;
  max-width: 1170px;
  margin: 0 auto; }

header {
  min-height: 103px;
  background: #ffffff; }
  header .line {
    width: 100%;
    margin-top: 22px; }
    @media (max-width: 377px) {
      header .line {
        text-align: center; } }
    header .line .logo {
      float: left;
      display: flex; }
      @media (max-width: 377px) {
        header .line .logo {
          display: inline-flex;
          float: none; } }
    header .line .right {
      float: right;
      height: 47px;
      margin-top: 4.4px; }
      @media (max-width: 377px) {
        header .line .right {
          text-align: center;
          width: 100%; } }
      header .line .right .link-block {
        float: left;
        font: 16px/43px 'open_sans_regular';
        color: #2f93e9;
        margin-right: 35px; }
        header .line .right .link-block span {
          display: inline-block;
          color: #5c5c5c;
          margin-left: 3.5px; }
        @media (max-width: 943px) {
          header .line .right .link-block {
            display: none; } }
      header .line .right .skype {
        padding-left: 15px;
        background: url("../img/skype.jpg") left center no-repeat; }
      header .line .right .enter {
        float: left;
        width: 125px;
        height: 47px;
        font: 16px/47px 'open_sans_semibold';
        text-transform: uppercase;
        color: #5c5c5c;
        border: 1px solid #acacac;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        text-align: center; }
        @media (max-width: 943px) {
          header .line .right .enter {
            float: right; } }
        @media (max-width: 377px) {
          header .line .right .enter {
            display: inline-block;
            float: none; } }
      header .line .right .reg {
        float: left;
        margin-left: 30px;
        width: 185px;
        height: 47px;
        box-sizing: border-box;
        border-bottom: 2px solid #287dc6;
        background: #2f93e9;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        font: 16px/47px 'open_sans_semibold';
        text-transform: uppercase;
        color: #ffffff;
        text-align: center; }
        @media (max-width: 943px) {
          header .line .right .reg {
            display: none; } }

.slogan {
  min-height: 505px;
  background: url("../img/slogan.jpg") center top no-repeat;
  background-size: 100% 100%; }
  @media (max-width: 865px) {
    .slogan {
      padding-bottom: 38px; } }
  .slogan .content {
    overflow: hidden; }
    @media (max-width: 431px) {
      .slogan .content {
        width: 96%; } }
  .slogan .zag {
    float: left;
    width: 100%;
    font: 48px/66px 'open_sans_semibold';
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    letter-spacing: -0.4px; }
    .slogan .zag span {
      width: 100%;
      display: inline-block; }
      @media (max-width: 964px) {
        .slogan .zag span {
          width: auto; } }
    @media (max-width: 640px) {
      .slogan .zag {
        font-size: 35px; } }
  .slogan .text {
    float: left;
    width: 100%;
    font: 22px/33px 'open_sans_regular';
    color: #ffffff;
    text-align: center; }
    .slogan .text span {
      width: 100%;
      display: inline-block; }
      @media (max-width: 1100px) {
        .slogan .text span {
          width: auto;
          display: inline; } }
  .slogan .button-line {
    float: left;
    width: 100%;
    margin-top: 56px; }
    .slogan .button-line .button {
      display: block;
      width: 295px;
      height: 65px;
      font: 16px/65px 'open_sans_semibold';
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
      box-sizing: border-box;
      border-bottom: 2px solid #287dc6;
      background: #2f93e9;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
