@import "reset.scss";

.wraper {
  width: 100%;

}

.content {
  width: 84.37%;
  max-width: 1170px;
  margin: 0 auto;
}

header {
  min-height: 103px;
  background: #ffffff;
  .line {
    width: 100%;
    margin-top: 22px;
    @media(max-width: 377px) {
      text-align: center;

    }
    .logo {
      float: left;
      display: flex;
      @media(max-width: 377px) {
        display: inline-flex;
        float: none;

      }
    }
    .right {
      float: right;
      height: 47px;
      margin-top: 4.4px;
      @media(max-width: 377px) {
        text-align: center;
        width: 100%;

      }
      .link-block {
        float: left;
        font: 16px/43px 'open_sans_regular';
        color: #2f93e9;
        margin-right: 35px;
        span {
          display: inline-block;
          color: #5c5c5c;
          margin-left: 3.5px;
        }
        @media(max-width: 943px) {
          display: none;

        }
      }
      .skype {
        padding-left: 15px;
        background: url("../img/skype.jpg") left center no-repeat;
      }
      .enter {
        float: left;
        width: 125px;
        height: 47px;
        font: 16px/47px 'open_sans_semibold';
        text-transform: uppercase;
        color: #5c5c5c;
        border: 1px solid #acacac;
        @include radius(3px);
        text-align: center;
        &:hover {
          -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        }
        @media(max-width: 943px) {
          float: right;

        }
        @media(max-width: 377px) {
          display: inline-block;
          float: none;

        }
      }
      .reg {
        float: left;
        margin-left: 30px;
        width: 185px;
        height: 47px;
        box-sizing: border-box;
        border-bottom: 2px solid #287dc6;
        background: #2f93e9;
        @include radius(3px);
        font: 16px/47px 'open_sans_semibold';
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        &:hover {
          -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        }
        @media(max-width: 943px) {
          display: none;

        }
      }
    }
  }
}

.slogan {
  min-height: 505px;
  background: url("../img/slogan.jpg") center top no-repeat;
  background-size: 100% 100%;
  @media(max-width: 865px) {
    padding-bottom: 38px;
  }
  .content {
    overflow: hidden;
    @media(max-width: 431px) {
      width: 96%;
    }
  }
  .zag {
    float: left;
    width: 100%;
    font: 48px/66px 'open_sans_semibold';
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    letter-spacing: -0.4px;
    span {
      width: 100%;
      display: inline-block;
      @media(max-width: 964px) {
        width: auto;
      }
    }
    @media(max-width: 640px) {
      font-size: 35px;
    }
  }
  .text {
    float: left;
    width: 100%;
    font: 22px/33px 'open_sans_regular';
    color: #ffffff;
    text-align: center;
    span {
      width: 100%;
      display: inline-block;
      @media(max-width: 1100px) {
        width: auto;
        display: inline;
      }
    }

  }
  .button-line {
    float: left;
    width: 100%;
    margin-top: 56px;
    .button {
      display: block;
      width: 295px;
      height: 65px;
      font: 16px/65px 'open_sans_semibold';
      text-transform: uppercase;
      color: #ffffff;
      text-align: center;
      margin: 0 auto;
      box-sizing: border-box;
      border-bottom: 2px solid #287dc6;
      background: #2f93e9;
      @include radius(3px);
      &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
      }
    }
  }
}

.actuality {
  min-height: 578px;
  background: #ffffff;
  .zag {
    font-family: 'open_sans_regular';
    font-size: 38px;
    color: #5c5c5c;
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  .podzag {
    width: 100%;
    font: 22px/34px 'open_sans_regular';
    color: #5c5c5c;
    text-align: center;
    margin-top: 15px;
    span {
      display: inline-block;
      width: 100%;
    }
  }
  .line {
    width: 100%;
    margin-top: 61px;
    .block {
      display: inline-block;
      float: none;
      box-sizing: border-box;
      background-position: left top;
      background-repeat: no-repeat;
      width: auto;
      vertical-align: top;
      @media(max-width: 1223px) {
        padding-left: 0px;
        padding-top: 107px;
        background-position: center top;
        margin-bottom: 68px;
      }
      @media (max-width: 922px) {
        width: 100%;

      }
      h3 {
        font: 24px/24px 'open_sans_regular';
        color: #5c5c5c;
        margin-bottom: 20px;
        @media (max-width: 922px) {
          width: 100%;
          text-align: center;
          font-size: 32px;
          margin-bottom: 28px;

        }
      }
      p {
        font: 16px/25px 'open_sans_regular';
        color: #5c5c5c;
        @media (max-width: 922px) {
          width: 100%;
          text-align: center;
          font-size: 23.5px;
          line-height: 31px;

        }
        span {
          display: block;
          @media (max-width: 922px) {
            display: inline;

          }
        }
      }
    }
  }
  .icon1 {
    background-image: url("../img/icon1.jpg");
    padding-left: 92px;
    @media (max-width: 922px) {

      background-size: 91px 79px;

    }
  }
  .icon2 {
    background-image: url("../img/icon2.jpg");
    padding-left: 75.67px;
    @media (max-width: 922px) {
      padding-top: 130px !important;
      background-size: 68px 97px;

    }
  }
  .icon3 {
    background-image: url("../img/icon3.jpg");
    padding-left: 86.67px;
    @media (max-width: 922px) {
      padding-top: 100px;
      background-size: 84px 80px;

    }
  }
}

footer {
  min-height: 50px;
  .copir {
    width: 100%;
    font: 16px/50px 'open_sans_regular';
    color: #5c5c5c;
    text-align: center;
    @media(max-width: 943px) {
      font-size: 22.6px;
      line-height: 40px;
    }

  }
  .link-line {
    width: 100%;
    text-align: center;
    display: none;
    @media(max-width: 943px) {
      display: block;
    }
    .link-block {
      float: none;
      display: inline-block;
      font: 16px/43px 'open_sans_regular';
      color: #2f93e9;
      margin-right: 0px;
      a, span {
        font-size: 22px;
      }
      .skype {
        padding-left: 15px;
        background: url("../img/skype.jpg") left 14px no-repeat;
        padding-left: 26px;
        background-size: 19px 19px;
        display: inline-block;

      }
      span {
        display: inline-block;
        color: #5c5c5c;
        margin-left: 3.5px;
      }
    }
  }
}

